<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucar.team.seven.tea.system.dao.SysUserUpdatePasswordDao">

    <!--表名 -->
    <sql id="tableName">
		T_SYS_USER
	</sql>

    <!--修改用户密码-->
    <update id="updatePassword" parameterType="String">
        update
        <include refid="tableName"></include>
        set password=#{password}
        where username=#{username}
    </update>

</mapper>